:root {
   --mint: #c3e1d0;
   --coral: #eb827a;
   --desaturated-green: #789b87;
   --text-color: #3d4742;
   --light-blue: #e0f0ff;
}
body {
   background-color: #704844;
   font-family: Arial, Helvetica, sans-serif;
   background-image: url("images/image1.jpg");
   background-size: cover;
}

h1 {
   color: #3d4742;
}

header {
   font-family: "Chilanka", cursive;
   text-align: center;
}

header h2 {
   color: #3d4742;
}

h3,
h4,
h5 {
   margin: 0px;
}

main h2 {
   color: #3d4742;
   padding: 6px;
   border-top: 10px double #eb827a;
   border-bottom: 10px double #eb827a;
   margin: 0px 0px 0px 0px;
}

main h3 {
   margin-top: 25px;
}

main a {
   color: #184b2e;
}

main a:hover {
   color: #eb827a;
}

#wrapper {
   background-color: #e0f0ff;
   width: 80%;
   margin: 0px auto;
   padding: 1%;
   border-radius: 50px;
}

main,
nav,
footer {
   font-family: "Short Stack", cursive;
   padding: 10px;
   margin: 15px;
}

nav,
footer {
   border-radius: 50px;
   border: 5px solid #789b87;
}

nav {
   text-align: center;
   font-size: 20px;
   background-color: #c3e1d0;
}

nav a {
   padding: 15px;
}

nav a:hover {
   color: #eb827a;
}

.copyright {
   color: #eb827a;
   font-size: 20px;
   padding-left: 25px;
}

div.img-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding: 20px;
}

div.img-container img {
   max-width: 300px;
   margin: 10px;
   padding: 10px;
   border: 5px double #eb827a;
   border-radius: 5px;
}

.references a {
   padding: 15px;
}

.references a:hover {
   color: #eb827a;
}

div.galleryItem {
   display: flex;
   flex-direction: column;
   justify-content: center;

   float: left;
   box-sizing: border-box;
   background-color: rgb(181, 220, 255);
   width: 500px;
   height: 350px;
   border: 10px rgb(82, 118, 196);
   border-style: dotted dotted double double;
   padding: 10px;
   margin: 10px 10px;
   border-radius: 20px;
}

div.galleryItem img {
   width: 100%;
   border-radius: 20px;
}

div.galleryItem p {
   text-align: center;
}

.galleryItem a {
   display: block;
   text-align: center;
   padding-top: 10px;
}

footer {
   text-align: center;
   font-size: 20px;
   background-color: #c3e1d0;
   float: none;
   clear: both;
}
