html {
   box-sizing: border-box;
   background-image: url("images/bg.png");
   background-size: cover;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   padding: 0px;
   margin: 0px;
   font-family: "Pixelify Sans", sans-serif;
   font-size: 35px;
}

a {
   color: rgb(6, 9, 65);
   text-decoration: none;
}

a:hover {
   color: rgb(184, 235, 255);
}

p {
   line-height: 2;
   color: rgb(2, 50, 2);
}

ul {
   list-style-type: none;
}

li:hover {
   list-style-type: disc;
}

li::marker {
   color: rgb(184, 235, 255);
}

.nav-animation ul {
   display: flex;
   justify-content: center;
   gap: 30px;
}

.nav-animation li:hover {
   list-style-type: none;
}

h1,
h2,
h3,
footer {
   text-transform: uppercase;
   text-align: center;
   color: rgb(66, 122, 65);
}

nav {
   display: flex;
   justify-content: center;
   gap: 50px;
}
.header-div {
   font-family: "Pokemon Solid", sans-serif;
   text-align: center;

   color: rgb(255, 222, 0);

   /* direction, blur, color */
   text-shadow: 0 10px 8px rgb(28, 21, 99);
   margin: 0;
   gap: 0px;
   padding: 2px;
   display: flex;
   flex-direction: column;
   align-items: center;
   line-height: 1.5;
   word-spacing: -20px;
}
.header-div header {
   font-size: 100px;
   -webkit-text-stroke: 8px #3b4cca;
   letter-spacing: 5px;
   margin: 0;
}

.header-div h4 {
   font-size: 75px;
   -webkit-text-stroke: 5px #3b4cca;
   letter-spacing: 11px;
   margin: 0;
}

/* fade-in animation */
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.container {
   position: relative;
   display: flex;
   justify-content: center;
   margin-top: 5px;
}

.text-container p {
   line-height: 0px;
}
.pokemon {
   position: absolute;
}

.balls {
   z-index: 1;
}
.pokemons {
   z-index: 2;
   animation: fadeIn 2s ease-in;
}

.footer-fadein {
   bottom: 0;
   font-size: 30px;
   line-height: 2px;
   margin-top: 375px;
   text-align: center;
}
