html {
   box-sizing: border-box;
   background-image: url("images/bg.png");
   background-size: cover;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   padding: 0px;
   margin: 0px;
   font-family: "Pixelify Sans", sans-serif;
   font-size: 35px;
}

a {
   color: #3b4cca;
   text-decoration: none;
}

a:hover {
   color: #d92727;
}

p {
   color: #023202;
   font-size: 20px;
   padding: 5px;
}

ul {
   list-style-type: none;
}

.nav-animation ul {
   display: flex;
   justify-content: center;
   gap: 30px;
   line-height: 0px;
}

.nav-animation li:hover {
   list-style-type: none;
}
.hoverp {
   display: none;
   font-size: 20px;
}
.hide-p:hover .hoverp {
   display: block;
}
h1,
h2,
h3,
footer {
   text-transform: uppercase;
   text-align: center;
   color: #427a41;
}

nav {
   display: flex;
   justify-content: center;

   gap: 50px;
}

.nav-style ul {
   background-image: url("images/wood.webp");
   background-size: cover;
   text-align: center;
   padding: 5px;
   margin: 45px;
   width: 600px;
}

footer {
   bottom: 0;
   font-size: 20px;
   line-height: 2px;
   text-align: center;
}

.header-div {
   font-family: "Pokemon Solid", sans-serif;
   text-align: center;

   color: #ffde00;

   /* direction, blur, color */
   text-shadow: 0 10px 8px #1c1563;
   margin: 0;
   gap: 0px;
   padding: 2px;
   display: flex;
   flex-direction: column;
   align-items: center;
   line-height: 1.5;
   word-spacing: -20px;
}
.header-div header {
   font-size: 100px;
   -webkit-text-stroke: 8px #3b4cca;
   letter-spacing: 5px;
   margin: 0;
   padding-bottom: 5px;
}

.header-div h4 {
   font-size: 75px;
   -webkit-text-stroke: 5px #3b4cca;
   letter-spacing: 11px;
   margin: 0;
}









/* fade-in animation */
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.container {
   position: relative;
   display: flex;
   justify-content: center;
   margin-top: 5px;
}

.text-container p {
   line-height: 0px;
}
.pokemon {
   position: absolute;
}

.balls {
   z-index: 1;
}
.pokemons {
   z-index: 2;
   animation: fadeIn 2s ease-in;
}

.footer-fadein {
   bottom: 0;
   font-size: 25px;
   line-height: 2px;
   margin-top: 375px;
   text-align: center;
}





/* flicker animation */
@keyframes flicker {
   0% {
      background-image: url(images/bulbasaur.png);
      width: 300px;
      margin: 0 auto;
   }
   50% {
      background-image: url(images/02.png);
      margin: 0 auto;
   }
   100% {
      background-image: url(images/03.png);
      margin: 0 auto;
   }
}

.flicker-animation {
   width: 400px;
   height: 400px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;

   animation-name: flicker;
   animation-duration: 4s;
   animation-iteration-count: infinite;
}






/* dancing */
@keyframes dancing {
   0% {
      transform: translateX(-200px);
   }
   25% {
      transform: scaleX(-1);
   }
   50% {
      transform: translateX(200px);
   }
   75% {
      transform: scaleX(-1);
   }
   100% {
      transform: translateX(-200px);
   }
}

.dancing-animation {
   width: 400px;
   height: 400px;
   position: relative;
   animation-name: dancing;
   margin: 0 auto;
}

.dancing-animation:hover {
   animation-duration: 2s;
   animation-iteration-count: infinite;
}

.bg-squirtle {
   background-color: #6c96da;
}
